h1 {text-align: center;}

.chicken {width: 400px;
		  margin:30px 20px 30px 10px;
		  background-color: gray;
		  padding:0px 0px 5px 5px ;
		  border:2px solid black;
		  float:left;
		  font-weight: bold;
		 }

.Beef {width: 400px;
		  margin:30px 20px 30px 10px;
		  background-color: gray;
		  padding:0px 0px 5px 5px ;
		  border:2px solid black;
		  float:left;
		  font-weight: bold;
		  }

.Sushi {width: 400px;
		  margin:30px 20px 30px 10px;
		  background-color: gray;
		  padding:0px 0px 5px 5px ;
		  border:solid black;
		  float:left;
		  font-weight: bold;}
		  
#a {border:1px solid black;
width:100px;
background-color: pink;
position:relative;
top:0px;
left:298px;
margin:0px;
padding-top: 0px;
text-align: center;
} 

#b {border:1px solid black;
width:100px;
background-color: red;
position:relative;
top:0px;
left:298px;
margin:0px;
padding-top: 0px;
text-align: center;
} 

#c {border:1px solid black;
width:100px;
background-color: yellow;
position:relative;
top:0px;
left:298px;
margin:0px;
padding-top: 0px;
text-align: center;
}

@media(min-width:768px) and (max-width: 991px){
	.Sushi {width:90% ;
		  margin:30px 20px 30px 10px;
		  background-color: gray;
		  padding:0px 0px 5px 5px ;
		  border:solid black;
		  float:left;
		  font-weight: bold;}

	#c {border:1px solid black;
        width:100px;
        background-color: yellow;
        position:relative;
        top:0px;
        left:30em;
        margin:0px;
        padding-top: 0px;
        text-align: center;
}

}



